.app.dark {
    --bg-color: #e6e6ec;
    --inverted-bg-color: #4141d2;


    --primary-color: #0f31de;
    --secondy-color: #33f307;

    --inverted-primary-color: #1c44be;
    --inverted-secondy-color: #0c4ae7;
}